test/plot*.png
test/eng_archive
test/*.tar.gz
test/regr_vals.*
build
/data*
dist
doc/_build
www
MANIFEST
*.pyc
*~
*.log
*.fits.gz
stage
Ska.engarchive.egg-info
sken.egg-info
Ska/engarchive/GIT_VERSION
test/eng_archive*
dev_utils/event_filter_1.png
dev_utils/event_filter_2.png
dev_utils/l0_5icd.pdf
dev_utils/memleak.py
*.ipynb
.ipynb_checkpoints
.idea
