test/plot*.png
test/eng_archive
test/*.tar.gz
test/regr_vals.*
build
data
dist
doc/_build
www
MANIFEST
*.pyc
*~
*.log
*.fits.gz
stage
Ska.engarchive.egg-info
dev_utils
sken.egg-info
Ska/engarchive/GIT_VERSION
test/eng_archive*
