include Ska/engarchive/units_*.pkl
include Ska/engarchive/*.dat
include Ska/engarchive/tests/*.dat
include Makefile
include update_archive.py
include transfer_stage.py
include archfiles_def.sql
include filetypes_all.dat
include task_schedule*.cfg
